header {
  height: 6vh;
  min-height: 30px;
  padding: 5px;
  background-color:black;
  color: white;
}
img.h-100 {
  height: 1.5em;
}
.flex {
  display: flex;
}
header{
  padding: 5px;
  background-color: rgb(23, 201, 124);
  color: rgb(0, 0, 0);

}
.flex {
  li{
    display: flex;
  }
  display: flex;
 
}
.justify-content-center {
  justify-content: space-between;
}

li.no-decoration {
  list-style: none;
}
.hover-yellow:hover {
   color: yellow;

}
list{
  display: flex;
}
.btn {
  padding: 4px;
  border-radius:5px;
  overflow: hidden;
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(186, 186, 186);
}
button.login {
  background-color: rgb(201, 23, 23);
  color: white;
}
.gap-basic {
  gap: 5px;
}