header{
    height: 6vh;
    min-height: 30px;
    max-height: 35px;
    padding:5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
main{
    padding-top: 35px;
    padding-bottom: 25px;
}
footer{
    height: 3vh;
    min-height: 22px;
    max-height: 25px;
    bottom:0;
    text-align:center;
    z-index: 1000;
}
.position-fix{
    position:fixed;
    width: 100%;
}
.bg-dark{
    background-color: rgb(18, 195, 145);
    color:white;
}
.gap-basic{
    gap: 5px;
}
.flex{
    display:flex;
}
.justify-content-between{
    justify-content:space-between;
}
li.no-decoration{
    text-decoration:none;
}
.align-items-center{
    align-items:center;
}

a.no-decoration{
    text-decoration: none;

}

header>nav>ul{
    font-size: 20px;
    gap: 25px;
    list-style:none;
}

.hower-yellow:hover{
    color:yellow
}
 
.position-fixed{
    position:fixed;
    width: 100%;
}

img.h-100{
    height:2em;
}
.flex{
    display:flex;
}
.btn{
    padding:5px ;
    border-radius:5px;
    overflow:hidden;
    border:none;
    box-shadow: 1px 1px 1px 1px rgb(133, 172, 172);
}
list{
    gap: 20px;
}
button.login{
    background-color: rgb(18, 195, 145);
    color:white;
    box-shadow: none;
}