header {
  padding: 5px;
  background-color: rgb(23, 201, 124);
  color: white;

}
.flex {
  display: flex;
 
}
.justify-content-center {
  justify-content: space-between;
}

li.no-decoration {
  list-style: none;
}
.hover-yellow:hover {
   color: yellow;

}